<h1>Index</h1>
<%= link_to 'Create a new Restaurant', new_restaurant_path %>
<ul>
<% @restaurants.each do |restaurant| %>
  <li>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </li>
<% end %>
</ul>
